<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/ListProduct.css">
    <title>ListProduct</title>
   <style>
   body {
    margin: 0;
    padding: 0;
}

.all_page_listProduct {
    width: 100%;
    height: auto;
}

.head_page_listProduct {
    width: 90%;
    height: 160px;
    margin: 1% 5%;
    background-color: rgb(222, 222, 222);

}

.out_viewCart {
    width: 80%;
    margin: 0 10%;
    text-align: right;
    padding: 1%;
}

.button_viewCart {
    width: 15%;
    height: 35px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.head_title {
    font-size: 50px;
    margin: -2% 5% 0;
}

.head_title_p {
    margin: 0 5%;
    font-size: 18px;
}

.body_page_listProduct {
    width: 90%;
    height: auto;
    margin: 0 5%;
    display: flex;
}

.product_view {
    width: 22.3%;
    margin-left: 2%;
    border: 1px solid rgb(188, 188, 188);
}

.view_head {
    width: 90%;
    height: auto;
    margin: 3% 5% 0;
    font-size: 22px;
    font-weight: bold;
}

.view_body {
    width: 90%;
    height: auto;
    margin: 1% 5% 0;
}

.Img_view img {
    width: 80%;
    height: 250px;
    margin: 0 10%;
}
.out_price_view {
    display: flex;
    margin-top: 3%;
}

.out_quantity_view {
    display: flex;
}
.view_foot {
    width: 90%;
    height: auto;
    margin: 4% 5% 5%;
}
.status {
    display: flex;
}
.button_details {
    width: 100px;
    height: 30px;
    margin-left: 10px;
    margin-right: 30px;
    background-color: rgb(59, 137, 254);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

.button_order {
    width: 120px;
    height: 30px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}
   
   </style>
</head>

<body>

    <div class="all_page_listProduct">
        <div class="head_page_listProduct">
            <div class="out_viewCart">
                <button class="button_viewCart"><i class="fas fa-shopping-cart"></i> &nbspView Cart</button>
            </div>
            <div class="head_title">Product</div>
            <p class="head_title_p">All the available product in our store</p>
        </div>
        <div class="body_page_listProduct">
        
        
        
        <tr class="product_view" th:each="prod : ${productsss}">
            <div class="product_view">
					<td><span class="view_head" th:text="${prod.ProductName}"> Author </span></td>                
					<div class="view_body">
                    <div class="Img_view"> <img th:src="${prod.Img}"
                            alt="Iphone12ProMax">
                    </div>
                    <div class="disciption_view"><td><span th:text="${prod.Discription}"> Author </span></td>
                    </div>
                    <div class="out_price_view">
                        <div class="price_view"><td><span th:text="${prod.UnitPrice}"> Author </span></td>&nbsp</div>
                        
                        
                        
                        <div class="price_unit">USD</div>
                    </div>
                    <div class="out_quantity_view">
                        <div class="quantity_view"><td><span th:text="${prod.UnitInStock}"> Author </span></td>&nbsp</div>
                        <div class="quantity_unit">Units in stock</div>
                    </div>
                </div>
                <div class="view_foot">
                    <div class="status">
                        <div class="out_details">
                            <button class="button_details"><i class="fas fa-info-circle"></i>&nbspDetails</button>
                        </div>
                        <div class="out_order">
                            <button class="button_order"><i class="fas fa-shopping-cart"></i>&nbspOrder Now</button>
                        </div>
                    </div>    
                </div>
            </div>
        </tr>
                       
            
        </div>
    </div>
</body>

</html>