<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/DetailProduct.css">
    <link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet" />
    <title>Detail Product</title>
    <style>
    body{
    margin: 0;
    padding: 0;
}

.all_page_detailProduct{
    width: 100%;
    height: auto;
}
.head_page_detailProduct{
    width: 90%;
    height: 120px;
    font-size: 60px;
    line-height: 120px;
    margin: 1% 5% 0;
    background-color: rgb(222, 222, 222);
}
.head_title{
    width: 90%;
    margin: 0 5%;
    font-weight: bold;
}
.body_page_detailProduct{
    width: 90%;
    margin: 0 5%;
    margin-top: 2%;
    display: flex;
}
.body_left{
    width: 40%;
}

.image_product{
    width: 94%;
    margin: 0 3%;
}
.body_right{
    width: 70%;
}
.information_product{
    width: 90%;
    margin: 0 5%;
}
.itemcode{
    display: flex;
    
}
.manufacturer{
    display: flex;
}
.category{
    display: flex;
}
.quantity{
    display: flex;
}
.price{
    display: flex;
}
.information{
    font-weight: normal;
}
.status{
    
}
.back{
    background-color: rgb(53, 193, 34);
    color: white;
    height: 40px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid rgb(53, 193, 34);
    border-radius: 5px;
    cursor: pointer;
}
.fa-arrow-alt-left{
    color: white;
}
.Order_Now{
    background-color: rgb(255, 168, 17);
    color: white;
    height: 40px;
    font-size: 20px;
    border: 1px solid rgb(255, 168, 17);
    border-radius: 5px;
    cursor: pointer;
}
.fa-shopping-cart{
    color: white;
}

    </style>
</head>

<body>
        
    <div class="all_page_detailProduct">
        <div class="head_page_detailProduct">
            <div class="head_title">Product</div>
        </div>
        <div class="body_page_detailProduct">
            <div class="body_left">
                <div class="image_product">
                    <img src="https://cdn.hoanghamobile.com/i/preview/Uploads/2022/03/09/image-removebg-preview-3.png"
                        alt="iphone13" srcset="">
                </div>
            </div>
            <div class="body_right">
                <div class="information_product">
                    <h2>Iphone 13</h2>
                    <p>Apple has officially launched the iPhone 2021 line with the name iPhone 13 Series. In which,
                        iPhone
                        13 Pro Max is the most advanced version with a large screen, 120Hz refresh rate and up to 1TB of
                        storage.</p>
                    <div class="itemcode">
                        <h3>Item Code: &nbsp<h3 class="information">100110013009</h3></h3>
                    </div>
                    <div class="manufacturer">
                        <h3>Manufacturer: &nbsp<h3 class="information">Apple</h3>
                        </h3>
                    </div>
                    <div class="category">
                        <h3>Category: &nbsp<a style="text-decoration: none;" href="https://www.apple.com/">Apple</a></h3>
                    </div>
                    <div class="quantity">
                        <h3>Available units in stock: &nbsp<h3 class="information">800</h3>
                        </h3>
                    </div>
                    <div class="price">
                        <h3>1099&nbsp<h3 class="information">USD</h3>
                        </h3>
                    </div>
                    <div class="status">
                        <button class="back" th:href="@{/}"><i class="far fa-arrow-alt-left"></i>&nbspBack</button>
                        <button class="Order_Now"><i class="fas fa-shopping-cart"></i>&nbspOrder Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>